<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>XIG</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<script src="/s/js/xig.js" type="text/javascript"></script>
<script src="/s/js/index.js" type="text/javascript"></script>
<style type="text/css">
    @import url("https://ajax.googleapis.com/ajax/libs/dojo/1.7/dojo/resources/dojo.css");
    @import url("https://ajax.googleapis.com/ajax/libs/dojo/1.7/dijit/themes/tundra/tundra.css");
    @import url("https://ajax.googleapis.com/ajax/libs/dojo/1.7/dojox/grid/resources/tundraGrid.css");
</style>

<style type="text/css">
#preloader {
  width:100%; height:100%; margin:0; padding:0;
  background:#ddd url("https://ajax.googleapis.com/ajax/libs/dojo/1.4/dojox/image/resources/images/loading.gif") no-repeat center center;
  position:absolute;
  z-index:999;
}
</style>

<script src="https://www.google.com/jsapi" type="text/javascript"> </script>
<script type="text/javascript">
    djConfig = {afterOnLoad: true,
    			parseOnLoad: false, 
    			isDebug: true,
				modulePaths: { 
    				"dojo": "https://ajax.googleapis.com/ajax/libs/dojo/1.7/dojo", 
    				"dijit": "https://ajax.googleapis.com/ajax/libs/dojo/1.7/dijit", 
    				"dojox": "https://ajax.googleapis.com/ajax/libs/dojo/1.7/dojox" 
  				}}; 
    google.load("dojo", "1.7");

    function xbee_status() {
        xig.xbee.get({at:'status', on_load:function(value) {
        	dojo.byId('xbee-status').innerHTML=value;
        	var status_div = dojo.byId('xbee-status-param');
            if (value == "Joined or Formed Network") {
            	status_div.className = "parameter success"; 
            } else {
            	status_div.className = "parameter error";
            }        	
        }});
        xig.xbee.get({at:'eui', on_load:function(value) {dojo.byId('xbee-eui').innerHTML=value;}});         
    }
    
    google.setOnLoadCallback(function(){
    	dojo.require("dojo.parser");
    	dojo.require("dojo.data.ItemFileWriteStore");
		dojo.require("dijit.layout.BorderContainer");
		dojo.require("dijit.layout.ContentPane");
		dojo.require("dijit.TitlePane");
		dojo.require("dijit.Tooltip");
		dojo.require("dijit.layout.TabContainer");
        dojo.require("dojox.grid.DataGrid");
        
		dojo.addOnLoad(function() {
            // parse the Dojo HTML tags and remove the loading screen
            dojo.parser.parse();

            // initialize xig javascript code
            xig.init();
            
            //TODO: move handler functions to here from xig.js?

            // initialize values on the page.
            // iDigi settings
            xig.settings.get({key:'device_id', notify: true, on_load:function(value) {dojo.byId('idigi-device_id').innerHTML=value.slice(18);}});
            xig.settings.get({key:'description', notify: true, on_load:function(value) {dojo.byId('idigi-description').value=value;}});
            
            // XBee settings
            xbee_status();
            // get the status every 2 seconds
            setInterval('xbee_status();', 2000);
            xig.settings.get({key:'baud', notify: true, on_load:function(value) {dojo.byId('xbee-baud').value=value;}});
            xig.settings.get({key:'com_port', notify: true, on_load:function(value) {dojo.byId('xbee-com_port').value=value;}});
            
            // set up logging objects
            /*set up layout*/
            var layout = [[
              {'name': 'ID', 'field': 'id', 'width': '35px'},
              {'name': 'Timestamp', 'field': 'asctime', 'width': '150px'},
              {'name': 'Severity', 'field': 'levelname', 'width': '75px'},
              {'name': 'Logger', 'field': 'name', 'width': '100px'},
              {'name': 'Message', 'field': 'msg', 'width': 'auto'}
            ]];

            /*create a new grid:*/
            var grid = new dojox.grid.DataGrid({
                id: 'grid',
                store: xig.logs.store,
                structure: layout,
                selectable: true,
                rowSelector: '20px' //remove?
                },
              document.createElement('div'));

            /*append the new grid to the div*/
            dojo.byId("logsGrid").appendChild(grid.domNode);

            /*Call startup() to render the grid*/
            grid.startup();            
            
            // remove the loading screen
            dojo.fadeOut({
                       node:"preloader",
                       duration:200,
                       onEnd: function(){
                               dojo.style("preloader", "display", "none");
                       }
               }).play();
        });     
    });
</script>	

<link href="/s/css/index.css" rel="stylesheet" type="text/css" />

</head>

<body class="tundra">
<div id="preloader"></div>
<div id="container" class="body_coloring" dojoType="dijit.layout.BorderContainer" gutters="false" livesplitters="true">
    <div id="header" dojoType="dijit.layout.ContentPane" region="top" splitter="false">
        <a class="left" href="http://code.google.com/p/xig/">
           <img src="/s/images/logo.png" />
        </a>
	    <div id="top">
	       XBee Internet Gateway
		</div>
		<div id="power_div" class="right">
		  <div id="power_button" class="power_icon" onClick="xig.power.toggle(true);">
		  </div>
		</div>
	</div>
    <div id="content_center" dojoType="dijit.layout.ContentPane" region="center" splitter="false">
        <div dojoType="dijit.layout.BorderContainer" gutters="false" livesplitters="true" splitter="true">
            <div class="body_coloring" dojoType="dijit.layout.TabContainer" region="center" splitter="true">
                <div dojoType="dijit.layout.ContentPane" title="Configuration" selected="true">
			        <div class="status_section">
				        <div class="status">
				            <h3 id="idigi" class="header">iDigi</h3>
				            <br/>
				            <div>
					            <a class="img_box" href="https://www.idigi.com">
					               <img src="/s/images/idigi-logo.gif" />
					            </a>
			                    <div>
				                    <div id="idigi-status-param" class="parameter">
				                        <span class="key">Status: </span>
				                        <div class="value" id="idigi-status"></div>
				                    </div>
			                        <div id="idigi-device_id-param" class="parameter">
			                            <span class="key">Device ID: </span>
			                            <div class="value" id="idigi-device_id"></div>
			                        </div>
			                        <div id="idigi-description-param" class="parameter">
			                            <span class="key">Description: </span>
			                            <div class="value">
			                                <input id="idigi-description" onChange="xig.settings.set({key:'description', value:this.value});"></input>
			                            </div>
			                        </div>
			                    </div>
			                </div>
				        </div>
			
			            <div class="status">
			                <h3 id="xbee" class="header">XBee</h3>
			                <br/>
			                <div>
			                    <a class="img_box" href="http://www.digi.com/products/wireless-wired-embedded-solutions/zigbee-rf-modules/zigbee-mesh-module/">
			                       <img height="100px" src="/s/images/xbee.png" />
			                    </a>
			                    <div>
			                        <div id="xbee-status-param"class="parameter">
			                            <span class="key">Status: </span>
			                            <div class="value" id="xbee-status"></div>
			                        </div>
			                        <div id="xbee-eui-param" class="parameter">
			                            <span class="key">EUI-64: </span>
			                            <div class="value" id="xbee-eui"></div>
			                        </div>
			                        <div id="xbee-com_ports-param" class="parameter">
			                            <span class="key">COM Port: </span>
			                            <div class="value">
			                                <select id="xbee-com_port" onChange="xig.settings.set({key:'com_port', value:this.value});"></select>
			                            </div>
			                        </div>
			                        <div id="xbee-baud-param" class="parameter">
			                            <span class="key">Baud: </span>
			                            <div class="value">
				                            <select id="xbee-baud" onChange="xig.settings.set({key:'baud', value:this.value});">
				                                <option>1200</option>
				                                <option>2400</option>
				                                <option>4800</option>
				                                <option>9600</option>
				                                <option>19200</option>
				                                <option>38400</option>
				                                <option>57600</option>
				                                <option>115200</option>
				                                <option>230400</option>
				                            </select>
				                        </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
		        </div>
		        <div dojoType="dijit.layout.ContentPane" title="Console">
                    <div id="console-output">Use this interface to send and receive messages from the XBee Internet Gateway (XIG).  
                    Send messages using the "Input:" box below.
                    </div>
                    <span id="console-input-label">Input:</span><input id="console-input" onChange="xig.console.send(this.value);"></input>
		        </div>
                <div dojoType="dijit.layout.ContentPane" title="Help">
                    <div dojoType="dijit.TitlePane" title="Getting Started" open="true">
                        The <a href="http://code.google.com/p/xig/">XBee Internet Gateway (XIG)</a> is an open source 
                        gateway that provides:
                        <ol class="list">
                            <li>Read and write access to I/O on remote XBees securely from the internet.</li>
                            <li>A simple serial interface to access internet resources (UDP, HTTP(s) (with optional basic authentication), and others) through the XBee.</li>
                            <li>A simple serial interface to upload data to iDigi through the XBee.</li>
                        </ol>
                        The gateway code can be run on PC or a Digi ConnectPort X2/X3/X4/X8.
                    </div>
                    <div dojoType="dijit.TitlePane" title="What is xig_config.py?  Should I be concerned that it is missing?" open="false">
                        "xig_config.py" is the custom configuration file for the XIG.  The XIG will try to import this 
                        file before importing the standard default file "xig_config_default.py".  For most applications
                        the default configuration file should be sufficient.  If you would like to
                        customize the configuration of the XIG, copy the file "xig_config_default.py" to be 
                        "xig_config.py" and make your changes there.  See the 
                        <a href="http://code.google.com/p/xig/wiki/UserDocumentation#V._CONFIGURATION">user docs</a>
                        for more information.
                    </div>
                    <div dojoType="dijit.TitlePane" title="My iDigi Connection isn't working" open="false">
                        The XIG should automatically connect to developer.idigi.com.  Make sure your XIG gateway has
                        internet access and can resolve developer.idigi.com.  You can test this on a PC by 
                        running "ping developer.idigi.com" from a command line.  If you are running the XIG on a
                        computer, make sure you are not using a Vendor ID on your iDigi account.  If you are running the
                        XIG on a Digi ConnectPort, you can contact 
                        <a href="http://www.digi.com/support/eservice/">Tech Support</a>.
                    </div>
                    <div dojoType="dijit.TitlePane" title="How do I connect to my XBee on a PC?" open="false">
                        When running on a computer, the XIG connects to an XBee through a serial port.  This can use
                        either a standard RS-232 port or a USB-serial adaptor.  Make sure to select the correct COM port
                        and baud from the dropdown list on the Configuration tab.  If you are running on a Windows 
                        computer, you can use <a href="http://www.digi.com/support/productdetail?pid=3352&type=utilities">X-CTU</a>
                        to configure your XBee and test your connection to the XBee.  Make sure you have configured your
                        XBee with the following settings:
                        <ol>
                            <li>Use an API mode firmware.</li>
                            <li>Should probably be a coordinator (not strictly required, but makes things easier).</li>
                            <li>Set ATAO=3 (allows the application to handle some ZDO commands)</li>
                        </ol>
                    </div>
                    <div dojoType="dijit.TitlePane" title="Known Issues" open="false">
                        <ul class="list">
                            <li>Requests to "idigi_data:" do not work from Console (or when sent through UDP interface).</li>
                            <li>PC application does not support Vendor Id iDigi connection through GUI.</li>
                            <li>PC application only connects to developer iDigi server 
                                (<a href="http://developer.idigi.com">developer.idigi.com</a>).</li>
                        </ul>
                    </div>
                    <div dojoType="dijit.TitlePane" title="Resources" open="false">
	                    Learn more about <a href="http://idigi.com">iDigi</a>.
	                    <br/>
	                    Learn more about <a href="http://code.google.com/p/xig/">XIG</a> 
	                    (<a href="http://code.google.com/p/xig/wiki/UserDocumentation">User Docs</a>).
	                    <br/>
	                    Run the XIG on a Digi <a href="http://www.digi.com/products/wireless-routers-gateways/gateways/connectportx2gateways#overview">ConnectPort X2</a>, 
	                    available <a href="http://www.sparkfun.com/products/10569">here</a>.
                    </div>
                </div>
            </div>
            <div id="logs_pane" dojoType="dijit.layout.ContentPane" region="bottom" splitter="true">
		        <div id='logs'>
		            <h3 class='header'>Logs</h3>
		            <div id="logsGrid"></div>
		        </div>
		    </div>
		</div>
    </div>
    <div id="footer" dojoType="dijit.layout.ContentPane" region="bottom" splitter="false">
        Copyright (c) 2012 Digi International. All rights reserved.
    </div>
</div>

<div dojoType="dijit.Tooltip" connectId="power_div" position="before">
    Gives the status of the XIG.<br/>
    Green - XIG is running.<br/>
    Red - XIG is stopped.<br/>
    Grey - Unknown/Transitioning.<br/>  
    Click the button to start/stop the XIG.
</div>  

<div dojoType="dijit.Tooltip" connectId="idigi" position="below">
    iDigi Status and Settings.
</div>
<div dojoType="dijit.Tooltip" connectId="idigi-status-param" position="below">
    iDigi Connection Status.  Will be either "Connected" or "Connecting..."
</div>
<div dojoType="dijit.Tooltip" connectId="idigi-device_id-param" position="below">
    iDigi Device ID.  The full ID will have "00000000-00000000-" prepending to it.  This is based on a MAC address.
</div>
<div dojoType="dijit.Tooltip" connectId="idigi-description-param" position="below">
    iDigi Description.  A user friendly description of the gateway that is sent to iDigi.
</div>

<div dojoType="dijit.Tooltip" connectId="xbee" position="below">
    XBee Status and Settings.
</div>
<div dojoType="dijit.Tooltip" connectId="xbee-status-param" position="below">
    XBee Network Status.  Based on the ATAI value received from the gateway.
</div>
<div dojoType="dijit.Tooltip" connectId="xbee-eui-param" position="below">
    XBee EUI-64 (also know as the extended address, serial number, or MAC address).
</div>
<div dojoType="dijit.Tooltip" connectId="xbee-com_ports-param" position="below">
    XBee serial port for the PC.
</div>
<div dojoType="dijit.Tooltip" connectId="xbee-baud-param" position="below">
    XBee serial port baud rate.  Will most likely be 9600 or 115200.
</div>

<div dojoType="dijit.Tooltip" connectId="console-input" position="above">
    Use this input to send commands to the XBee Internet Gateway (XIG).
    Send "help" to get a list of supported commands.
</div>

</body>
</html>
